<!-- Font-Awesome 기반 아이콘 변환 -->

{% capture icon %}
  {% assign tag = include.tag | downcase %}

  {% case tag %}

    <!-- 개발 관련 -->
    {% when '프로그래밍' or '코딩' or '개발' %}
      <i class="fa-solid fa-code me-1"></i>
    {% when '깃허브' or '블로그' or 'Github' %}
      <i class="fab fa-github me-1"></i>
    {% when '기획' or '개발일지' %}
      <i class="fa-solid fa-file-pen me-1"></i>

      <!-- 유니티 -->
      {% when '유니티' or 'Unity' or 'C#' %}
        <i class="fab fa-unity me-1"></i>
      {% when 'C#' %}
        <i class="fab fa-csharp me-1"></i>

        <!-- 웹개발 -->
      {% when 'HTML' or 'html' %}
        <i class="fab fa-html5 me-1"></i>
      {% when 'CSS' or 'css' %}
        <i class="fab fa-css3-alt me-1"></i>
      {% when '자바스크립트' or 'JavaScript' or 'javascript' %}
        <i class="fab fa-square-js me-1"></i>
    
        <!-- 기타 -->
      {% when '파이썬' or 'python' %}
        <i class="fab fa-python me-1"></i>

    <!-- 자연어 -->
    {% when '언어' or 'Langauge' %}
      <i class="fa-solid fa-language me-1"></i>

    <!-- 취미 -->
    {% when '영화' %}
      <i class="fa-solid fa-film me-1"></i>
    {% when '사진' %}
     <i class="fa-solid fa-image me-1"></i>
    {% when '드로잉' or '스케치' or '채색' or '아트' or '그림' %}
    <i class="fa-solid fa-brush me-1"></i>

    <!-- 끝 -->
    {% else %}
      <i class="fa-solid fa-tag me-1"></i>
  {% endcase %}

  {% if include.size == 'xl' %}
  <i class="fa-xl"></i>
  {% endif %}

{% endcapture %}

{{ icon | strip_newlines }}