{%- comment -%}
  Get post description or generate it from the post content.
{%- endcomment -%}

{%- assign max_length = include.max_length | default: 200 -%}

{%- capture description -%}
{%- if post.description -%}
  {{- post.description -}}
{%- else -%}
  {%- include no-linenos.html content=post.content -%}
  {% comment %} region 수정됨 {% endcomment %}
  {{- content | markdownify | remove_tag: 'h2', 'em', 'blockquote', 'pre' | strip_html -}}
  {% comment %} endregion 수정됨 {% endcomment %}
{%- endif -%}
{%- endcapture -%}

{{- description | strip | truncate: max_length | escape -}}
