---
---

@import 'main';

/* =============== */
/*     덮어쓰기     */
/* =============== */

.content {
  font-family: 'Pretendard', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  /*word-break: keep-all;*/ /* 단어기준 줄넘김인데, 안 예뻐서 보류. */
}

#topbar-title {
  font-weight: bold;
}

.btn-outline-primary {
  font-weight: bold;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

p {
  margin-top: 1.5rem;
}

blockquote p {
  margin-top: 0;
}

.card-title {
  font-weight: bold;
}

/* 코드 블록 */

@media all and (min-width: 576px) {
  .code-header {
    &::before {
      background-color: #e06156;
      box-shadow: ($code-dot-size + $code-dot-gap) 0 0
      #eec052,
        ($code-dot-size + $code-dot-gap) * 2 0 0
      #6dc455;
    }
  }
}

/* 부드러운 모드 변경 */

* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

a, p, h1, h2, h3, h4, h5, h6, li {
  /* common text */
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

#back-to-top {
  /* button */
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.mode-toggle .icon-border {
  /* sidebar-bottom button */
  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.sidebar-bottom {
  %button {
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    &:hover {
      transition: background-color 0.2s ease;
    }
  }
}

.post-preview, .page-item, .nav-link {
  /* sidebar */
  transition: background-color 0.22s ease, border-color 0.22s ease, color 0.22s ease;
}

g, rect {
  /* mermaid */
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

#sidebar, #topbar-wrapper, header, footer {
  /* mobile */
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.code-header span i, .post-navigation  {
  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}

div[class^='language-'] {
  /* code */
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

@media (hover: hover) {
  /* post-navigation hovering */
  .post-navigation {
    .btn,
    .btn::before {
      transition: all 0.2s ease-in-out;
    }
  }
}

/* 부드러운 이미지 변경 */



/* =============== */
/* 새로 만들어 쓰기 */
/* =============== */

.post-title {
  font-weight: bold;
}

.related-post-title {
  font-weight: bold;
}

/* 메모장
- 사이드바 배경색은 sass/colors/typography-dark.scss에서 따로 수정함.
*/