---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

/* =============== */
/*     덮어쓰기     */
/* =============== */

.content {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  /*word-break: keep-all;*/ /* 단어기준 줄넘김인데, 안 예뻐서 보류. */
}

/* region 줄간격 */
p:not(blockquote p):not(.footer), .language-cs, dl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; 
}

ul:not(.list-unstyled, .toc-list, dd ul, .list-group) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* endregion 줄간격 */

/* region 텍스트 속성 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.site-title {
  font-family: 'Pretendard', 'Source Sans Pro', 'Microsoft Yahei', sans-serif !important;
}

#topbar-title, .btn-outline-primary, .card-title, .card-header, .tag {
  font-weight: bold;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}
/* endregion 텍스트 */

/* region 정적인 모드 전환 */
a:not(.site-title a, .post-tag, a.btn, a.nav-link, .url-button, .page-link, .tag), div.btn, .post-preview {
  transition: none !important;
}

.post-tag, %btn-post-nav {
  transition-property: background-color;
}

#sidebar {
  ul {
    li.nav-item {
      &.active {
        .nav-link {
          transition-property: none;
        }
      }
    }
  }
  .sidebar-bottom {
    %button {
      transition-property: color;
    }
  }
  /* 모드 토글 버튼 클릭시 애니메이션 비활성화 => 방법 찾는중
  #mode-toggle {
    &:active {
      background-color: var(--sidebar-btn-bg);
      transition: none !important;
    }
  }
  */
}

.pagination {
  .page-item {
    .page-link {
      transition-property: box-shadow;
    }
  }
}
/* endregion 정적인 모드 전환 */

/* =============== */
/* 새로 만들어 쓰기 */
/* =============== */

.post-title, .sidebar-title, .related-post-title {
  font-weight: bold;
}