---
---

@import 'main';

/* =============== */
/*     덮어쓰기     */
/* =============== */

.content {
  font-family: 'Pretendard', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
  /*word-break: keep-all;*/ /* 단어기준 줄넘김인데, 안 예뻐서 보류. */
}

/* region 줄간격 */
p:not(blockquote p), .language-cs {
  margin-top: 1.75rem;
}

ul:not(.list-unstyled) {
  margin-top: 1.75rem;
}

dd {
  margin-top: -1.75rem;
}
/* endregion 줄간격 */

/* region 텍스트 속성 */
#topbar-title {
  font-weight: bold;
}

.btn-outline-primary {
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}
/* endregion 텍스트 */

a:not(.post-tag, a.btn /*, li a*/), div.btn, .post-preview, .page-item, .page-link {
  /* remove mode-toggle effect */
  transition: none !important;
}

.post-tag, %btn-post-nav {
  transition-property: background-color;
}

#sidebar {
  ul {
    li.nav-item {
      &.active {
        .nav-link {
          transition-property: color, background-color;
        }
      }
    }
  }
  .sidebar-bottom {
    %button {
      transition-property: background-color;
    }
  }
}

/* =============== */
/* 새로 만들어 쓰기 */
/* =============== */

.post-title {
  font-weight: bold;
}

.related-post-title {
  font-weight: bold;
}

/* 메모장
- 사이드바 배경색은 sass/colors/typography-dark.scss에서 따로 수정함.
*/