---
---

@import 'main';

/* 덮어쓰기 */
/* 게시물 글씨크기 */
.content {
  font-size: 0.97rem;
  /*word-break: keep-all;*/ /* 단어기준 줄넘김인데, 안 예뻐서 보류. */
}

p {
  margin-top: 1.5rem;
}
blockquote p {
  margin-top: 0;
}

.card-title {
  font-weight: bold;
}

/* 새로 만들어 쓰기 */

.post-title {
  font-weight: bold;
}

.related-post-title {
  font-weight: bold;
}

.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

/* 메모장
- 사이드바 배경색은 sass/colors/typography-dark.scss에서 따로 수정함.
*/